html body {
  font-family: 'Maven Pro', sans-serif;
}

.navbar.navbar-light .breadcrumb .nav-item.active>.nav-link,
.navbar.navbar-light .navbar-nav .nav-item.active>.nav-link {
  background-color: transparent;
  font-weight: bold;
}

.navbar.navbar-dark .breadcrumb .nav-item.active>.nav-link, .navbar.navbar-dark .navbar-nav .nav-item.active>.nav-link {
  background-color: transparent;
  font-weight: bold;
}

.navbar-theme {
  background: #40AE87;
  transition: all ease-in-out .5s;
}

.about-us {
	background: linear-gradient(-45deg, #40ae87c9, #ff0000ce, #00bbffc5, #eeff00cb);
	background-size: 400% 400%;
	animation: gradient 5s ease infinite;
}

.footer-color {
  background: rgb(54, 54, 54);
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.color-bg {
  background: #40AE87;
}

.bg-paper {
  background: rgb(255, 247, 232);
}

.txt-theme {
  color: #40AE87;
}

.border-cstm {
  border-style: solid;
  border-width: 2px;
  border-color: rgb(255, 255, 255);
  background: white;
  color: rgb(59, 59, 59)!important;
}

.border-cstm:hover {
  border-style: solid;
  border-width: 2px;
  background: rgb(231, 231, 231);
}

.form-control {
  border-radius: 1.25rem;
}

.container, .container-fluid, .nav-body, .navbar, .navbar-expand-lg, .navbar-nav, .nav-item, .nav-link {
  transition: all ease-in-out .5s;
}

.display-4-cstm {
  font-size: 1.5rem;
}

.h6-cstm {
  font-size: .8rem;
}

.h1-responsive {
  font-size: 1.5rem;
}

.h3-cstm {
  font-size: 1.25rem;
}

.h5-cstm {
  font-size: 1rem;
}

.img-responsive {
  width: 50%;
}

.line-txt {
  line-height: 20px;
}

.line-txt-nrml {
  line-height: normal;
}

.mt-custom {
  margin-top: 150px;
}

.pt-custom {
  padding-top: 100px;
  padding-bottom: 50px;
  height: auto;
  overflow-y: hidden;
}

.pt-custom-2 {
  padding-top: 150px;
  padding-bottom: 75px;
}


.bg-merah-redup {
  background: #40AE87;
}

.swiper-pagination {
  position: static;
}

.swiper-pagination-bullet-active {
  background: red;
}

.btn-radius-custom {
  border-radius: 8.125rem;
}

.card-radius-custom {
  border-radius: 1.125rem;
}

.bg-abu {
  background: rgb(241, 241, 241);
}

.mySwiper2 .swiper-slide {
  transform: scale(1);
  opacity: 1;
  transition: all ease-in-out .5s;
}

.mySwiper2 .swiper-slide.swiper-slide-next {
  transform: scale(1);
  opacity: 1;
}

@media (min-width: 992px) {

  .display-4-cstm {
    font-size: 3.5rem;
  }

  .h6-cstm {
    font-size: 1rem;
  }

  .h1-responsive {
    font-size: 2.5rem;
  }

  .h3-cstm {
    font-size: 1.75rem;
  }

  .h5-cstm {
    font-size: 1.25rem;
  }

  .pt-custom {
    padding-top: 200px;
    height: 100vh;
  }

  .mySwiper2 .swiper-slide {
    transform: scale(0.8);
    opacity: 0.5;
  }
  
  .mySwiper2 .swiper-slide.swiper-slide-next {
    transform: scale(1);
    opacity: 1;
  }

  .img-responsive {
    width: 80%;
  }

}

@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}